{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-image: url("{% static 'images/lee_mino11.jpeg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
        }
        .container {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Thank You!</h1>
        <div class="alert alert-success" role="alert">
            Your details have been submitted successfully.
            please Note that the Date and Venue to Meet  with Mr. Lee Minho will be Communicated to you through your Email, after the payment have been confirmed. Thanks!
        </div>
        <h2>Fan Details</h2>
        <ul>
            {% for key, value in fan_data.items %}
                <li>{{ key }}: {{ value }}</li>
            {% endfor %}
        </ul>
        <h2>Payment Details</h2>
        <ul>
            {% for key, value in payment_data.items %}
                <li>{{ key }}: {{ value }}</li>
            {% endfor %}
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>